<div class="box">
    <div class="box-header">
        <h3 class="box-title">Respondents&nbsp;</h3>
        <button type="button" class="btn btn-primary btn-xs" {{action 'toggleAdd'}}>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
        <div class="box-tools">
            <div class="input-group">
                {{input type="text" classNames="form-control" placeholder="Search" value=query}}
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
            </div>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th width="20%">#</th>
                <th width="40%">Name</th>
                <th width="40%">Contact</th>
            </tr>
            </thead>
            <tbody>
            {{#if isAddRowVisible}}
                <tr>
                    <td>0</td>
                    <td>{{focus-input
                    type='text'
                    class='form-control'
                    placeholder='Insert new respondent here, press enter to submit'
                    value=newName
                    enter='createNew'
                    }}</td>
                    <td>{{input
                    type='text'
                    class='form-control'
                    placeholder="Insert new respondent's contact here, press enter to submit"
                    value=newContact
                    enter='createNew'
                    }}</td>
                </tr>
            {{/if}}
            {{#each model as |respondent index|}}
                {{respondent-item editDatum='editDatum' deleteDatum='deleteDatum' index=index respondent=respondent firstRowNumber=firstRowNumber}}
            {{/each}}
            </tbody>
        </table>
    </div>
    <div class="box-footer clearfix">
        <p class="pull-left">Displaying row {{firstRowNumber}} to {{lastRowNumber}} from {{total}} rows</p>

        <div class="box-tools">
            {{pagination-pager count=totalPages current=page}}
        </div>
    </div>
</div>{{outlet}}
